{% extends "layout.html" %}
{% block title %}Product{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}

<form id="productform" name="productform" action="/product/register" method="post">
  <label for="product_name">상품이름: </label><br>
  {% if data %}
    <input type="hidden" id="product_id" value="{{data.id}}" name="product_id">
    <input class="form-control" type="text" id="pname" name="pname" value="{{data.name}}"><br>
    {% else %}
    <input class="form-control" type="text" id="pname" name="pname"><br>
    {% endif %}
    <label for="cost_price">원가: </label><br>
    {% if data %}
    <input class="form-control" type="number" id="cost_price" name="cost_price" value="{{data.cost_price}}"
      aria-describedby="sizing-addon2"><br>
    {% else %}
    <input class="form-control" type="number" id="cost_price" name="cost_price" aria-describedby="sizing-addon2"><br>
    {% endif %}
    <label for="selling_price">판매가: </label><br>
    {% if data %}
    <input class="form-control" type="number" id="selling_price" name="selling_price"
      value="{{data.selling_price}}"><br>
    {% else %}
    <input class="form-control" type="number" id="selling_price" name="selling_price"><br>
    {% endif %}

    {% if data %}
    <label for="category">카테고리: </label><br>
    <select class="form-control" name="category" id="category" onload="selectedCategory({{data.product_category}})">
      <option value="1" {% if data.product_category == 1 %} selected {% endif %}>아우터</option>
      <option value="2" {% if data.product_category == 2 %} selected {% endif %}>상의</option>
      <option value="3" {% if data.product_category == 3 %} selected {% endif %}>하의</option>
    </select><br>
    <input class="btn btn-default" type="button" id="save" value="저장" onclick="checkAll()">
    {% else %}
    <label for="category">카테고리: </label><br>
    <select class="form-control" name="category" id="category">
      <option value="1">아우터</option>
      <option value="2">상의</option>
      <option value="3">하의</option>
    </select><br>
    <input class="btn btn-default" type="button" id="regist" value="등록" onclick="checkAll()">  
    {% endif %}
    <input class="btn btn-danger" type="button" id="cancel" value="취소">
</form>

{% block next_url %}
<input type="hidden" id="next_url" name="next_url" value="/product/register">
{% endblock %}
{% endblock %}

{% block script %}
  console.log('1');

  let cancel = document.getElementById("cancel");
  if(cancel != null){
    cancel.addEventListener("click", function(){
      location.href='/'
    })
  }

  function saveBtn(save){
    let form = document.getElementById("productform");
    form.setAttribute("action","/product/edit");
    form.submit();
  }

  function registBtn(regist){
    let form = document.getElementById("productform");
    form.setAttribute("action","/product/register");
    form.submit();
  }

  function checkAll(){

      console.log("함수시작");
      let pname = document.getElementById("pname").value;
      let cost_price = document.getElementById("cost_price").value;
      let selling_price = document.getElementById("selling_price").value;
      let category = document.getElementById("category").value;
      let save = document.getElementById("save");
      let regist = document.getElementById("regist");

      console.log(pname);
      console.log(cost_price);
      console.log(selling_price);
      console.log(category);

      if(pname==""){
        alert('상품명을 입력하세요');
      }
      else if(cost_price==""){
        alert('원가를 입력하세요');
      }
      else if(selling_price==""){
        alert('판매가를 입력하세요');
      }
      else if(category==""){
        alert('카테고리를 입력하세요');
      }else if(save!=null){
        save.addEventListener("click", saveBtn);
      }else if(regist!=null){
        regist.addEventListener("click", registBtn);
      }
      
  }
{% endblock %}
