{% extends "layout.html" %}
{% block title %}Edit Product{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<form name="registForm" action="/product/register" method="post">
  <label for="product_name">상품이름: </label><br>
  <input type="text" id="pname" name="pname"><br>
  <label for="cost_price">원가: </label><br>
  <input type="number" id="cost_price" name="cost_price"><br>
  <label for="selling_price">판매가: </label><br>
  <input type="number" id="selling_price" name="selling_price"><br>
  <label for="category">카테고리: </label><br>
  <select name="category" id="category">
	<option value="1">아우터</option>
	<option value="2">상의</option>
	<option value="3">하의</option>
  </select><br><br><br>
  <input type="button" id="regist" value="등록" onclick="checkAll()"><br>
</form>
{% endblock %}

{% block script %}
<!-- 유효성 체크 -->
console.log('1');

function checkAll(){
	
	console.log("함수시작");
	let pname = document.getElementById("pname").value;
	let cost_price = document.getElementById("cost_price").value;
	let selling_price = document.getElementById("selling_price").value;
	let category = document.getElementById("category").value;

	console.log(pname);
	console.log(cost_price);
	console.log(selling_price);
	console.log(category);

	if(pname==""){
    alert('상품명을 입력하세요');
	}
	else if(cost_price==""){
    alert('원가를 입력하세요');
  }
	else if(selling_price==""){
    alert('판매가를 입력하세요');
  }
	else if(category==""){
    alert('카테고리를 입력하세요');
  }
	else{
		registForm.submit();
	}

} 
{% endblock %}
