{% extends "layout.html" %}
{% block title %}Edit Product{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
	<form>
    상품번호 : {{data.id}}<br>
    상품명 : {{data.name}}<br>
    가격 : {{data.cost_price}}<br>
    카테고리 : {{data.product_category}}<br>
    <br><br>
    <input type="button" id="modify" value="수정">
  </form>
  <form name="delForm" action="/product/delete" method="post">
    <input type="hidden" id="product_id" value="{{data.id}}" name="product_id">
    <button type="submit" id="delete">삭제</button><br>
  </form>
  {% endblock %}
