{% extends "layout.html" %}
{% block title %}Product{% endblock %}
{% block head %}
  {{ super() }}
  {% block st %}
  .table{
        text-align: center;
  }
  {% endblock %}
{% endblock %}
{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
{% for product in data %}
        <div class="col-sm-3">
        <table class="table">
                <tbody>
                        <tr>
                        <td>
                                {% if True %}
                                <a href="{{url_for('clothesmall.read_product_detail', id=product.id)}}">
                                        <img class="col-xs-12" src="{{ url_for('static', filename='images/'+product.img_address) }}">
                                </a>
                                {% endif %}
                        </td>
                        </tr>      
                        <tr>
                        <td>
                                <a href="{{url_for('clothesmall.read_product_detail', id=product.id)}}"> {{ product.name }}</a>
                        </td>
                        </tr>
                        <tr>
                        <td>
                                판매가 : {{ product.selling_price }}
                        </td>
                        </tr>
                </tbody>
        </table>
        </div>
        {% endfor %}
{% endblock %}

{% block next_url %}
<input type="hidden" id="next_url" name="next_url" value="/product/list">
{% endblock %}
