{% extends "layout.html" %}
{% block title %}Product{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block nav %}
{{ super() }}
{% endblock %}

{% block content %}
        {% for product in data %}
        <div class="col-sm-4">
                <div class="panel panel-default">
                <div class="panel-heading"><a href="{{url_for('product.read_product_detail', id=product.id)}}"> {{ product.name }}</a></div>
                <div class="panel-body">
                        <img src="">
                </div>
                <div class="panel-footer">판매가 : {{ product.selling_price }}</div>
                </div>
        </div> 
        {% endfor %}
{% endblock %}
