{% extends "layout.html" %}
{% block title %}Product{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
        <table style="text-align:center">
                <tr>
                        <th>상품번호</th>
                        <th>상품명</th>
                        <th>가격</th>
                        <th>삭제여부(삭제:1)</th>
                </tr>
                {% for product in data %}
                        <tr>
                                <td>{{ product.id }}</td>
                                <td><a href="{{url_for('product.read_product_detail', id=product.id)}}"> {{ product.name }} </a></td>
                                <td>{{ product.selling_price }}</td>
                                <td>{{ product.is_deleted }}</td>
                        </tr>
                {% endfor %}
        </table>
{% endblock %}
