{% extends "layout.html" %}
{% block title %}Register Product{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<form action="http://localhost:5000/product/register" method="post">
  <label for="product_name">상품이름: </label><br>
  <input type="text" id="pname" name="pname"><br>
  <label for="cost_price">원가: </label><br>
  <input type="number" id="cost_price" name="cost_price"><br>
  <label for="selling_price">판매가: </label><br>
  <input type="number" id="selling_price" name="selling_price"><br>
  <label for="product_info">상품정보: </label><br>
  <input type="text" id="product_info" name="product_info"><br>
  <label for="category">카테고리: </label><br>
  <select name="category" id="category">
	<option value="1">아우터</option>
	<option value="2">상의</option>
	<option value="3">하의</option>
  </select><br><br><br>
  <input type="submit" id="submit" value="등록"><br>
</form>
{% endblock %}

{% block script %}
<!-- 유효성 체크 -->
document.getElementById("submit").addEventListener("click", checkAll);

function checkAll(){
	
	console.log("함수시작");
	let pname = document.getElementById("pname").value;
	let cost_price = document.getElementById("cost_price").value;
	let selling_price = document.getElementById("selling_price").value;
	let product_info = document.getElementById("product_info").value;
	let category = document.getElementById("category").value;

	console.log(pname);
	console.log(cost_price);
	console.log(selling_price);
	console.log(product_info);
	console.log(category);

	if(!checkPname(pname)) return false;
        if(!checkCostPrice(cost_price)) return false;
        if(!checkSellingPrice(selling_price)) return false;
        if(!checkProductInfo(product_info)) return false;
        if(!checkCategory(category)) return false;
        return true;

}

<!-- TODO : 정규식 추가 -->
function checkPname(value){
if(value != "") return true;
alert("상품명을 입력하세요.");
return false;
}

function checkCostPrice(value){
if(value != "") return true;
alert("원가를 입력하세요.");
return false;
}

function checkSellingPrice(value){
if(value != "") return true;
alert("판매가를 입력하세요.");
return false;
}

function checkProductInfo(value){
if(value != "") return true;
alert("상품정보를 입력하세요.");
return false;
}

function checkCategory(value){
if(value != "") return true;
alert("카테고리를 입력하세요.");
return false;
}

{% endblock %}

