{% extends "layout.html" %}
{% block title %}User{% endblock %}
{% block head %}
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
  {{ super() }}
{% endblock %}

{% block nav %}
		<a class="navbar-brand" href="">회원가입</a>
{% endblock %}

{% block jumbo %}
{% endblock %}

{% block content %}

		  <fieldset>
				<div class="control-group">
					<!-- E-mail -->
					<label class="control-label" for="email">E-mail</label>
					<div class="controls">
						<div class="input-append">
						<input class="form-control" type="text" id="email" name="email" placeholder="형식에 맞게 이메일을 입력해주세요"><br>
						<button id="email_check" class="btn btn-primary">확인</button>
						</div>
					</div>
				</div>
	
				<div class="control-group">
					<!-- Username -->
					<label class="control-label"  for="username">이름</label>
					<div class="controls">
						<input class="form-control" type="text" id="username" name="username" placeholder="사용자의 이름을 입력해주세요"><br>
					</div>
				</div>
			 
				<div class="control-group">
					<!-- Password-->
					<label class="control-label" for="password">비밀번호</label>
					<div class="controls">
						<input class="form-control" type="password" id="password" name="password" placeholder="최소 4글자 이상으로 입력해주세요"><br>
					</div>
				</div>
			 
				<div class="control-group">
					<!-- Password -->
					<label class="control-label"  for="password_confirm">비밀번호(재입력)</label>
					<div class="controls">
						<input class="form-control" type="password" id="password_confirm" name="password_confirm" placeholder="비밀번호를 다시 한번 입력해주세요"><br>
					</div>
				</div>
				
				<div class="control-group">
					<button type="button" class="btn btn-success" id="registbtn" data-dismiss="modal">회원가입</button>
		  			<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
		</fieldset>
<br><br><br>

{% endblock %}

{% block script %}
$('#email_check').click(function(){
	let email = $('input[name=email]').val();
	if(email != '') {
		$.ajax({
			type: 'POST',
			url: '/user/check_email',
			data: JSON.stringify(email),
			contentType: "application/json",
			success: function(data){
				email = $('input[name=email]').val();
				if(!data.result){
					alert(email+' 은 사용가능한 이메일입니다.');
				}else{
					alert('이미 존재하는 이메일입니다. 다른 이메일을 사용하세요.');
				}
			},
			error: function(request, status, error){
				alert('ajax 통신 실패')
				alert(error);
			}
		})
	}
});
{% endblock %}
