{% extends "layout.html" %}
{% block title %}User{% endblock %}
{% block head %}
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
{{ super() }}
{% endblock %}

{% block nav %}
<a class="navbar-brand" href="">회원가입</a>
{% endblock %}

{% block jumbo %}
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<form id="userform" class="form-horizontal" action='#' method="POST">
	<fieldset>
		<div class="control-group">
			<!-- E-mail -->
			<label class="control-label" for="email">E-mail</label>
			<div class="controls">
				{% if user %}
    			     {{ render_field(form.email, class="form-control", placeholder="문자와 숫자로 공백없이 입력해주세요.", readOnly="True")  }}
				{% else %}
					{{ render_field(form.email, class="form-control", placeholder="형식에 맞게 이메일을 입력해주세요.") }}
					<button name="email_check" id="email_check" class="btn btn-primary">확인</button>
					{{ render_field(form.email_check) }}
				{% endif %}
			</div>
		</div>

		<div class="control-group">
			<!-- Username -->
			<label class="control-label" for="username">닉네임</label>
			<div class="controls">
					{{ render_field(form.name, class="form-control", placeholder="문자와 숫자로 공백없이 입력해주세요.") }}
			</div>
		</div>

		<div class="control-group">
			<!-- PhoneNumber -->
			<label class="control-label" for="phone_number">전화번호</label>
			<div class="controls">
					{{ render_field(form.phone_number, class="form-control", placeholder="형식에 맞게 전화번호를 입력해주세요. (exam : 01012345678) ") }}
			</div>
		</div>

		<div class="control-group">
			<!-- Password-->
			<label class="control-label" for="password">비밀번호</label>
			<div class="controls">
				{{ render_field(form.password, class="form-control", placeholder="최소 4글자 이상으로 입력 해주세요.") }}
			</div>
		</div>

		<div class="control-group">
			<!-- Password -->
			<label class="control-label" for="password_confirm">비밀번호(재입력)</label>
			<div class="controls">
				{{ render_field(form.password_confirm, class="form-control", placeholder="비밀번호를 다시 입력해주세요.") }}
			</div>
		</div>

		<div class="control-group">
			{% if user %}
			<button type="button" class="btn btn-success" id="saveuser" data-dismiss="modal">회원 정보 수정</button>
			{% else %} 
			<button type="button" class="btn btn-success" id="regist" data-dismiss="modal">가입하기</button>
			{% endif %}
			<button type="button" class="btn btn-danger" id="cancel" data-dismiss="modal">취소</button>
		</div>
	</fieldset>
</form>
<br><br><br>

{% endblock %}

{% block script %}

let cancel = document.getElementById("cancel");
if(cancel != null){
	cancel.addEventListener("click", function(){
	location.href='/'
	})
}

let regist = document.getElementById("regist");
if(regist!=null){
	regist.addEventListener("click", registUser);
}
function registUser(){
    let form = document.getElementById("userform");
    form.setAttribute("action","/user/regist");
    form.submit();
}

let saveuser = document.getElementById("saveuser");
if(saveuser!=null){
	saveuser.addEventListener("click", saveUser);
}
function saveUser(){
    let form = document.getElementById("userform");
    form.setAttribute("action","/user/{{form.email.data}}");
    form.submit();
}

$('#email_check').click(function(){
	let email = $('input[name=email]').val();
	if(email != '') {
		$.ajax({
			type: 'POST',
			url: '/user/check_email',
			data: JSON.stringify(email),
			contentType: "application/json",
			success: function(data){
				if(!data.result){
					alert(email+' 은 사용가능한 이메일입니다.');
					$('input[name=email_check]').val('Y');
				}else{
					alert('이미 존재하는 이메일입니다. 다른 이메일을 사용하세요.');
				}
			},
			error: function(request, status, error){
			alert('ajax 통신 실패')
			alert(error);
			}
		})
	}
});
{% endblock %}